*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    width: 100%;
    height: 100vh;
    background-color:black;
}

#logo{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

#logo path:nth-of-type(1){
    stroke-dasharray:317.11663818359375;
    stroke-dashoffset: 317.11663818359375;
    animation: line-anim 5s ease forwards .8s infinite;
}
#logo path:nth-of-type(2){
    stroke-dasharray:344.0076904296875;
    stroke-dashoffset: 344.0076904296875;
    animation: line-anim 5s ease forwards 1.7s infinite;
}#logo path:nth-of-type(3){
    stroke-dasharray:354.8132629394531;
    stroke-dashoffset: 354.8132629394531;
    animation: line-anim 5s ease forwards 2.1s infinite;
}#logo path:nth-of-type(4){
    stroke-dasharray:278.60015869140625;
    stroke-dashoffset: 278.60015869140625;
    animation: line-anim 5s ease forwards 3.5s infinite;
}#logo path:nth-of-type(5){
    stroke-dasharray:168.63980102539062;
    stroke-dashoffset: 168.63980102539062;
    animation: line-anim 5s ease forwards 4.9s infinite;
}#logo path:nth-of-type(6){
    stroke-dasharray:226.37477111816406;
    stroke-dashoffset: 226.37477111816406;
    animation: line-anim 5s ease forwards 5.3s infinite;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
